* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased !important;
}

button {
  cursor: pointer;
}

.corner-img-container {
  position: absolute;
  top: 0;
  left: 0;
}

.corner-img {
  width: 100%;
}

.presentation-content {
  margin-top: 10px;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.girl-img {
  margin-top: 175px;
  margin-left: 15px;
  width: 100%;
  max-width: 330px;
  height: auto;
  margin-right: 0px;
}

.main-title {
  margin-top: 40px;
  margin-left: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 80px;
  color: #54445b;
}

.form-newsletter {
  display: flex;
  padding: 5% 20%;
  justify-content: space-around;
  align-items: center;
}

.person-img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-title {
  font-family: "Montserrat";
  text-align: center;
  font-size: 2em;
  color: #54445b;
  margin: 1%;
  font-weight: 600;
}

.form-main-desc {
  font-family: "Montserrat";
  text-align: center;
  color: #54445b;
  font-size: 1.4em;
  margin: 1%;
  font-weight: 600;
}

.form-sub-desc {
  font-family: "Roboto";
  color: #54445b;
  text-align: center;
  font-size: 26px;
  margin: 2%;
  line-height: 30px;
}

.form-calltoaction {
  font-family: "Roboto";
  font-weight: 900;
  color: #54445b;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin: 4%;
}

.input {
  display: block;
  width: 90%;
  padding: 15px;
  margin: 5px;

  border: 0;
  background: #f2f2f2;
  border-radius: 15px;
  font-size: 1.2em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  border-radius: 25px;
  border: 0;
  padding: 15px;
  margin: 1%;
  width: 60%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  mix-blend-mode: normal;
  transition: all 0.6s;
}

.btn-yellow {
  background: #fbd157;
  color: #54445b;
}

.btn-yellow:hover {
  background: #54445b;
  color: #fbd157;
}

.btn-purple {
  background: #54445b;
  color: #fbd157;
}

.btn-purple:hover {
  background: #fbd157;
  color: #54445b;
}

.second-form {
  display: flex;
  padding: 5% 20%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.second-form-title {
  font-family: "Montserrat";
  font-size: 2em;
  margin: 3%;
  font-weight: 600;
  color: #54445b;
}

.second-form-slogan {
  font-family: "Montserrat";
  font-weight: 600;
  margin: 3%;
  font-size: 1.6em;
  color: #54445b;
}

.second-form-desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  margin: 3%;
  line-height: 30px;
  text-align: center;
  margin: 2%;

  color: #54445b;
}

.block-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.block-form {
  flex: 1;
}

.second-form-illustration {
  width: 80%;
}

.second-form-element {
  background: #fbd157;
  border-radius: 44px;
  padding: 30px 15px;
}

.quemSomos {
  font-family: "Montserrat";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #54445b;
  height: 150px;
  font-size: 2.6rem;
  background-color: #fbd157;
}
.visao {
  display: flex;
  margin-bottom: 200px;
}

.whoami {
  text-align: center;
}

#logo-fim {
  margin-top: -55px;
  width: 500px;
  height: 350px;
}

#textoQuemSomos {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin: 50px 60px;
  color: #54445b;
}

footer {
  width: 100%;
  background: #fbd157;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-newsletter-mobile {
  display: none;
}

@media only screen and (max-width: 1120px) {
  .girl-img {
    display: none;
  }

  .main-title {
    margin: 10% 5%;
    text-align: right;
    font-size: 2em;
    line-height: 40px;
  }

  .presentation-content {
    width: 100vw;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 20%;
  }

  .form-newsletter {
    display: none;
  }

  .form-newsletter-mobile {
    padding: 15% 0;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .person-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .visao {
    flex-direction: column;
  }

  .second-form {
    flex-direction: column;
    padding: 5% 1%;
  }

  #logo-fim {
    width: 30%;
    max-width: 200px;
  }

  .visao {
    justify-content: center;
    align-items: center;
  }
}
